%h1 Search results
%ul.users
  - @users.each do |user|
    %li.user
      %span.name= user.username
      %span.email= user.email
      - if Friendship.all(:conditions => ["(user_id = ? and friend_id = ?) or (user_id = ? and friend_id = ?)", user.id, @current_user.id, @current_user.id, user.id]).length == 0
        %a.add_to_friend{'href'=> friends_add_url(user.id)} Add to friends